[submodule "sploitego"]
	url = https://github.com/shizzz477/canari11
[submodule "sniffmypacketsv2"]
	url = https://github.com/shizzz477/canari11
[submodule "scapy"]
	url = https://github.com/shizzz477/canari11
